# Files
.cache
.gitignore
.prettierrc.js
.stylelintignore
.stylelintrc
*.code-workspace
**/.eslintrc.json
**/.vsix
**/*.map
**/*.ts
**/tsconfig.json
commitlint.config.js
vsc-extension-quickstart.md

# Folders
.vscode-test/**
.vscode/**
docs/
out/test/**
src/**
test/**