.cache
.gitignore
.prettierrc.js
.stylelintignore
.stylelintrc
.vscode-test/**
.vscode/**
*.code-workspace
**/.eslintrc.json
**/.vsix
**/*.map
**/*.ts
**/tsconfig.json
Colours.css
Colours.json
commitlint.config.js
out/test/**
src/**
test/**
vsc-extension-quickstart.md