html {
  --vscode-font-family: system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: 'source code pro', 'Droid Sans Mono', 'monospace', monospace,
    'Droid Sans Fallback', 'Noto Color Emoji';
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 14px;
  --vscode-foreground: #616161;
  --vscode-errorForeground: #f1897f;
  --vscode-descriptionForeground: #717171;
  --vscode-icon-foreground: #424242;
  --vscode-focusBorder: #a6b39b;
  --vscode-selection-background: #c9d0d9;
  --vscode-textSeparator-foreground: rgba(0, 0, 0, 0.18);
  --vscode-textLink-foreground: #006ab1;
  --vscode-textLink-activeForeground: #006ab1;
  --vscode-textPreformat-foreground: #a31515;
  --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(220, 220, 220, 0.4);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.16);
  --vscode-input-background: #ffffff;
  --vscode-input-foreground: #616161;
  --vscode-inputOption-activeBorder: #adafb7;
  --vscode-inputOption-activeBackground: rgba(166, 179, 155, 0.2);
  --vscode-inputOption-activeForeground: #000000;
  --vscode-input-placeholderForeground: rgba(97, 97, 97, 0.5);
  --vscode-inputValidation-infoBackground: #f2fcff;
  --vscode-inputValidation-infoBorder: #4ec1e5;
  --vscode-inputValidation-warningBackground: #fffee2;
  --vscode-inputValidation-warningBorder: #ffe055;
  --vscode-inputValidation-errorBackground: #ffeaea;
  --vscode-inputValidation-errorBorder: #f1897f;
  --vscode-dropdown-background: #f5f5f5;
  --vscode-dropdown-border: #cecece;
  --vscode-checkbox-background: #f5f5f5;
  --vscode-checkbox-border: #cecece;
  --vscode-button-foreground: #ffffff;
  --vscode-button-background: #705697;
  --vscode-button-hoverBackground: #5a4579;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #5f6a79;
  --vscode-button-secondaryHoverBackground: #4c5561;
  --vscode-badge-background: rgba(112, 86, 151, 0.67);
  --vscode-badge-foreground: #333333;
  --vscode-scrollbar-shadow: #dddddd;
  --vscode-scrollbarSlider-background: rgba(100, 100, 100, 0.4);
  --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-scrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
  --vscode-progressBar-background: #705697;
  --vscode-editorError-foreground: #e51400;
  --vscode-editorWarning-foreground: #e9a700;
  --vscode-editorInfo-foreground: #75beff;
  --vscode-editorHint-foreground: #6c6c6c;
  --vscode-editor-background: #f5f5f5;
  --vscode-editor-foreground: #333333;
  --vscode-editorWidget-background: #f3f3f3;
  --vscode-editorWidget-foreground: #616161;
  --vscode-editorWidget-border: #c8c8c8;
  --vscode-quickInput-background: #f3f3f3;
  --vscode-quickInput-foreground: #616161;
  --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
  --vscode-pickerGroup-foreground: #a6b39b;
  --vscode-pickerGroup-border: #749351;
  --vscode-editor-selectionBackground: #c9d0d9;
  --vscode-editor-inactiveSelectionBackground: rgba(201, 208, 217, 0.5);
  --vscode-editor-selectionHighlightBackground: rgba(224, 228, 234, 0.6);
  --vscode-editor-findMatchBackground: #bf9cac;
  --vscode-editor-findMatchHighlightBackground: #edc9d8;
  --vscode-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
  --vscode-searchEditor-findMatchBackground: rgba(237, 201, 216, 0.66);
  --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
  --vscode-editorHoverWidget-background: #f3f3f3;
  --vscode-editorHoverWidget-foreground: #616161;
  --vscode-editorHoverWidget-border: #c8c8c8;
  --vscode-editorHoverWidget-statusBarBackground: #e7e7e7;
  --vscode-editorLink-activeForeground: #0000ff;
  --vscode-editorInlineHint-foreground: #616161;
  --vscode-editorInlineHint-background: #f3f3f3;
  --vscode-editorLightBulb-foreground: #ddb100;
  --vscode-editorLightBulbAutoFix-foreground: #007acc;
  --vscode-diffEditor-insertedTextBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
  --vscode-list-focusBackground: #cadeb9;
  --vscode-list-activeSelectionBackground: #c4d9b1;
  --vscode-list-activeSelectionForeground: #6c6c6c;
  --vscode-list-inactiveSelectionBackground: #d3dbcd;
  --vscode-list-hoverBackground: #e0e0e0;
  --vscode-list-dropBackground: #cadeb9;
  --vscode-list-highlightForeground: #9769dc;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #b01011;
  --vscode-list-warningForeground: #855f00;
  --vscode-listFilterWidget-background: #efc1ad;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-list-filterMatchBackground: #edc9d8;
  --vscode-tree-indentGuidesStroke: #a9a9a9;
  --vscode-list-deemphasizedForeground: #8e8e90;
  --vscode-menu-foreground: #616161;
  --vscode-menu-background: #f5f5f5;
  --vscode-menu-selectionForeground: #6c6c6c;
  --vscode-menu-selectionBackground: #c4d9b1;
  --vscode-menu-separatorBackground: #888888;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
  --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
  --vscode-breadcrumb-foreground: rgba(97, 97, 97, 0.8);
  --vscode-breadcrumb-background: #f5f5f5;
  --vscode-breadcrumb-focusForeground: #4e4e4e;
  --vscode-breadcrumb-activeSelectionForeground: #4e4e4e;
  --vscode-breadcrumbPicker-background: #f3f3f3;
  --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
  --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
  --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionHighlight: #c9d0d9;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-warningHighlight: #e9a700;
  --vscode-minimapSlider-background: rgba(100, 100, 100, 0.2);
  --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
  --vscode-minimapSlider-activeBackground: rgba(0, 0, 0, 0.3);
  --vscode-problemsErrorIcon-foreground: #e51400;
  --vscode-problemsWarningIcon-foreground: #e9a700;
  --vscode-problemsInfoIcon-foreground: #75beff;
  --vscode-charts-foreground: #616161;
  --vscode-charts-lines: rgba(97, 97, 97, 0.5);
  --vscode-charts-red: #e51400;
  --vscode-charts-blue: #75beff;
  --vscode-charts-yellow: #e9a700;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #388a34;
  --vscode-charts-purple: #652d90;
  --vscode-editor-lineHighlightBackground: #e4f6d4;
  --vscode-editor-lineHighlightBorder: #eeeeee;
  --vscode-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
  --vscode-editor-symbolHighlightBackground: #edc9d8;
  --vscode-editorCursor-foreground: #54494b;
  --vscode-editorWhitespace-foreground: #aaaaaa;
  --vscode-editorIndentGuide-background: rgba(170, 170, 170, 0.38);
  --vscode-editorIndentGuide-activeBackground: rgba(119, 119, 119, 0.69);
  --vscode-editorLineNumber-foreground: #6d705b;
  --vscode-editorActiveLineNumber-foreground: #0b216f;
  --vscode-editorLineNumber-activeForeground: #9769dc;
  --vscode-editorRuler-foreground: #d3d3d3;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --vscode-editorBracketMatch-border: #b9b9b9;
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorGutter-background: #f5f5f5;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #e9a700;
  --vscode-editorOverviewRuler-infoForeground: #75beff;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.25);
  --vscode-editor-wordHighlightStrongBackground: rgba(14, 99, 156, 0.25);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
  --vscode-editor-foldBackground: rgba(201, 208, 217, 0.3);
  --vscode-editorGutter-foldingControlForeground: #424242;
  --vscode-peekViewTitle-background: #f2f8fc;
  --vscode-peekViewTitleLabel-foreground: #333333;
  --vscode-peekViewTitleDescription-foreground: rgba(97, 97, 97, 0.9);
  --vscode-peekView-border: #705697;
  --vscode-peekViewResult-background: #f2f8fc;
  --vscode-peekViewResult-lineForeground: #646465;
  --vscode-peekViewResult-fileForeground: #1e1e1e;
  --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --vscode-peekViewResult-selectionForeground: #6c6c6c;
  --vscode-peekViewEditor-background: #f2f8fc;
  --vscode-peekViewEditorGutter-background: #f2f8fc;
  --vscode-peekViewResult-matchHighlightBackground: #93c6d6;
  --vscode-peekViewEditor-matchHighlightBackground: #c2dfe3;
  --vscode-editorMarkerNavigationError-background: #e51400;
  --vscode-editorMarkerNavigationWarning-background: #e9a700;
  --vscode-editorMarkerNavigationInfo-background: #75beff;
  --vscode-editorMarkerNavigation-background: #ffffff;
  --vscode-editorSuggestWidget-background: #f3f3f3;
  --vscode-editorSuggestWidget-border: #c8c8c8;
  --vscode-editorSuggestWidget-foreground: #333333;
  --vscode-editorSuggestWidget-selectedBackground: #cadeb9;
  --vscode-editorSuggestWidget-highlightForeground: #9769dc;
  --vscode-tab-activeBackground: #f5f5f5;
  --vscode-tab-unfocusedActiveBackground: #f5f5f5;
  --vscode-tab-inactiveBackground: #ececec;
  --vscode-tab-unfocusedInactiveBackground: #ececec;
  --vscode-tab-activeForeground: #333333;
  --vscode-tab-inactiveForeground: rgba(51, 51, 51, 0.7);
  --vscode-tab-unfocusedActiveForeground: rgba(51, 51, 51, 0.7);
  --vscode-tab-unfocusedInactiveForeground: rgba(51, 51, 51, 0.35);
  --vscode-tab-border: #f3f3f3;
  --vscode-tab-lastPinnedBorder: #c9d0d9;
  --vscode-tab-activeModifiedBorder: #33aaee;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
  --vscode-editorPane-background: #f5f5f5;
  --vscode-editorGroupHeader-tabsBackground: #f3f3f3;
  --vscode-editorGroupHeader-noTabsBackground: #f5f5f5;
  --vscode-editorGroup-border: #e7e7e7;
  --vscode-editorGroup-dropBackground: rgba(201, 208, 217, 0.53);
  --vscode-imagePreview-border: rgba(128, 128, 128, 0.35);
  --vscode-panel-background: #f5f5f5;
  --vscode-panel-border: rgba(128, 128, 128, 0.35);
  --vscode-panelTitle-activeForeground: #424242;
  --vscode-panelTitle-inactiveForeground: rgba(66, 66, 66, 0.75);
  --vscode-panelTitle-activeBorder: #424242;
  --vscode-panelInput-border: #dddddd;
  --vscode-panel-dropBorder: #424242;
  --vscode-panelSection-dropBackground: rgba(201, 208, 217, 0.53);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
  --vscode-statusBar-foreground: #ffffff;
  --vscode-statusBar-noFolderForeground: #ffffff;
  --vscode-statusBar-background: #705697;
  --vscode-statusBar-noFolderBackground: #705697;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-prominentForeground: #ffffff;
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-statusBarItem-errorBackground: #c72516;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-activityBar-background: #ededf5;
  --vscode-activityBar-foreground: #705697;
  --vscode-activityBar-inactiveForeground: rgba(112, 86, 151, 0.4);
  --vscode-activityBar-activeBorder: #705697;
  --vscode-activityBar-dropBorder: #705697;
  --vscode-activityBarBadge-background: #705697;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #4e3c69;
  --vscode-statusBarItem-remoteForeground: #ffffff;
  --vscode-extensionBadge-remoteBackground: #705697;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #f2f2f2;
  --vscode-sideBar-dropBackground: rgba(201, 208, 217, 0.53);
  --vscode-sideBarSectionHeader-background: #ede8ef;
  --vscode-titleBar-activeForeground: #333333;
  --vscode-titleBar-inactiveForeground: rgba(51, 51, 51, 0.6);
  --vscode-titleBar-activeBackground: #c4b7d7;
  --vscode-titleBar-inactiveBackground: rgba(196, 183, 215, 0.6);
  --vscode-menubar-selectionForeground: #333333;
  --vscode-menubar-selectionBackground: rgba(0, 0, 0, 0.1);
  --vscode-notifications-foreground: #616161;
  --vscode-notifications-background: #f3f3f3;
  --vscode-notificationLink-foreground: #006ab1;
  --vscode-notificationCenterHeader-background: #e7e7e7;
  --vscode-notifications-border: #e7e7e7;
  --vscode-notificationsErrorIcon-foreground: #e51400;
  --vscode-notificationsWarningIcon-foreground: #e9a700;
  --vscode-notificationsInfoIcon-foreground: #75beff;
  --vscode-symbolIcon-arrayForeground: #616161;
  --vscode-symbolIcon-booleanForeground: #616161;
  --vscode-symbolIcon-classForeground: #d67e00;
  --vscode-symbolIcon-colorForeground: #616161;
  --vscode-symbolIcon-constantForeground: #616161;
  --vscode-symbolIcon-constructorForeground: #652d90;
  --vscode-symbolIcon-enumeratorForeground: #d67e00;
  --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
  --vscode-symbolIcon-eventForeground: #d67e00;
  --vscode-symbolIcon-fieldForeground: #007acc;
  --vscode-symbolIcon-fileForeground: #616161;
  --vscode-symbolIcon-folderForeground: #616161;
  --vscode-symbolIcon-functionForeground: #652d90;
  --vscode-symbolIcon-interfaceForeground: #007acc;
  --vscode-symbolIcon-keyForeground: #616161;
  --vscode-symbolIcon-keywordForeground: #616161;
  --vscode-symbolIcon-methodForeground: #652d90;
  --vscode-symbolIcon-moduleForeground: #616161;
  --vscode-symbolIcon-namespaceForeground: #616161;
  --vscode-symbolIcon-nullForeground: #616161;
  --vscode-symbolIcon-numberForeground: #616161;
  --vscode-symbolIcon-objectForeground: #616161;
  --vscode-symbolIcon-operatorForeground: #616161;
  --vscode-symbolIcon-packageForeground: #616161;
  --vscode-symbolIcon-propertyForeground: #616161;
  --vscode-symbolIcon-referenceForeground: #616161;
  --vscode-symbolIcon-snippetForeground: #616161;
  --vscode-symbolIcon-stringForeground: #616161;
  --vscode-symbolIcon-structForeground: #616161;
  --vscode-symbolIcon-textForeground: #616161;
  --vscode-symbolIcon-typeParameterForeground: #616161;
  --vscode-symbolIcon-unitForeground: #616161;
  --vscode-symbolIcon-variableForeground: #007acc;
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-debugToolBar-background: #f3f3f3;
  --vscode-debugIcon-startForeground: #388a34;
  --vscode-settings-headerForeground: #444444;
  --vscode-settings-modifiedItemIndicator: #66afe0;
  --vscode-settings-dropdownBackground: #f5f5f5;
  --vscode-settings-dropdownBorder: #cecece;
  --vscode-settings-dropdownListBorder: #c8c8c8;
  --vscode-settings-checkboxBackground: #f5f5f5;
  --vscode-settings-checkboxBorder: #cecece;
  --vscode-settings-textInputBackground: #ffffff;
  --vscode-settings-textInputForeground: #616161;
  --vscode-settings-numberInputBackground: #ffffff;
  --vscode-settings-numberInputForeground: #616161;
  --vscode-settings-focusedRowBackground: rgba(202, 222, 185, 0.4);
  --vscode-notebook-rowHoverBackground: rgba(202, 222, 185, 0.28);
  --vscode-notebook-focusedRowBorder: rgba(0, 0, 0, 0.12);
  --vscode-terminal-foreground: #333333;
  --vscode-terminal-selectionBackground: rgba(0, 0, 0, 0.25);
  --vscode-terminal-border: rgba(128, 128, 128, 0.35);
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #e51400;
  --vscode-testing-message\.error\.decorationForeground: #e51400;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.warning\.decorationForeground: #e9a700;
  --vscode-testing-message\.warning\.lineBackground: rgba(255, 208, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: #75beff;
  --vscode-testing-message\.info\.lineBackground: rgba(0, 127, 255, 0.2);
  --vscode-testing-message\.hint\.decorationForeground: #6c6c6c;
  --vscode-welcomePage-progress\.background: #717171;
  --vscode-welcomePage-progress\.foreground: #705697;
  --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.08);
  --vscode-statusBar-debuggingBackground: #705697;
  --vscode-statusBar-debuggingForeground: #ffffff;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #f1dfde;
  --vscode-editorGutter-modifiedBackground: #66afe0;
  --vscode-editorGutter-addedBackground: #81b88b;
  --vscode-editorGutter-deletedBackground: #ca4b51;
  --vscode-minimapGutter-modifiedBackground: #66afe0;
  --vscode-minimapGutter-addedBackground: #81b88b;
  --vscode-minimapGutter-deletedBackground: #ca4b51;
  --vscode-editorOverviewRuler-modifiedForeground: rgba(102, 175, 224, 0.6);
  --vscode-editorOverviewRuler-addedForeground: rgba(129, 184, 139, 0.6);
  --vscode-editorOverviewRuler-deletedForeground: rgba(202, 75, 81, 0.6);
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 102, 0.45);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(206, 231, 206, 0.45);
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-scm-providerBorder: #c8c8c8;
  --vscode-notebook-cellBorderColor: #d3dbcd;
  --vscode-notebook-focusedEditorBorder: #a6b39b;
  --vscode-notebookStatusSuccessIcon-foreground: #388a34;
  --vscode-notebookStatusErrorIcon-foreground: #f1897f;
  --vscode-notebookStatusRunningIcon-foreground: #616161;
  --vscode-notebook-outputContainerBackgroundColor: #d3dbcd;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBorder: #d3dbcd;
  --vscode-notebook-focusedCellBorder: #a6b39b;
  --vscode-notebook-inactiveFocusedCellBorder: #d3dbcd;
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
  --vscode-notebook-cellInsertionIndicator: #a6b39b;
  --vscode-notebookScrollbarSlider-background: rgba(100, 100, 100, 0.4);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
  --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
  --vscode-debugTokenExpression-name: #9b46b0;
  --vscode-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
  --vscode-debugTokenExpression-string: #a31515;
  --vscode-debugTokenExpression-boolean: #0000ff;
  --vscode-debugTokenExpression-number: #098658;
  --vscode-debugTokenExpression-error: #e51400;
  --vscode-debugView-exceptionLabelForeground: #ffffff;
  --vscode-debugView-exceptionLabelBackground: #a31515;
  --vscode-debugView-stateLabelForeground: #616161;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #75beff;
  --vscode-debugConsole-warningForeground: #e9a700;
  --vscode-debugConsole-errorForeground: #f1897f;
  --vscode-debugConsole-sourceForeground: #616161;
  --vscode-debugConsoleInputIcon-foreground: #616161;
  --vscode-debugIcon-pauseForeground: #007acc;
  --vscode-debugIcon-stopForeground: #a1260d;
  --vscode-debugIcon-disconnectForeground: #a1260d;
  --vscode-debugIcon-restartForeground: #388a34;
  --vscode-debugIcon-stepOverForeground: #007acc;
  --vscode-debugIcon-stepIntoForeground: #007acc;
  --vscode-debugIcon-stepOutForeground: #007acc;
  --vscode-debugIcon-continueForeground: #007acc;
  --vscode-debugIcon-stepBackForeground: #007acc;
  --vscode-extensionButton-prominentBackground: #705697;
  --vscode-extensionButton-prominentForeground: #ffffff;
  --vscode-extensionButton-prominentHoverBackground: #5a4579;
  --vscode-terminal-ansiBlack: #000000;
  --vscode-terminal-ansiRed: #cd3131;
  --vscode-terminal-ansiGreen: #00bc00;
  --vscode-terminal-ansiYellow: #949800;
  --vscode-terminal-ansiBlue: #0451a5;
  --vscode-terminal-ansiMagenta: #bc05bc;
  --vscode-terminal-ansiCyan: #0598bc;
  --vscode-terminal-ansiWhite: #555555;
  --vscode-terminal-ansiBrightBlack: #666666;
  --vscode-terminal-ansiBrightRed: #cd3131;
  --vscode-terminal-ansiBrightGreen: #14ce14;
  --vscode-terminal-ansiBrightYellow: #b5ba00;
  --vscode-terminal-ansiBrightBlue: #0451a5;
  --vscode-terminal-ansiBrightMagenta: #bc05bc;
  --vscode-terminal-ansiBrightCyan: #0598bc;
  --vscode-terminal-ansiBrightWhite: #a5a5a5;
  --vscode-gitDecoration-addedResourceForeground: #587c0c;
  --vscode-gitDecoration-modifiedResourceForeground: #895503;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-gitDecoration-untrackedResourceForeground: #007100;
  --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
  --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
  --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
  --vscode-gitDecoration-conflictingResourceForeground: #6c6cc4;
  --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
  --vscode-bookmarks-lineBackground: rgba(0, 0, 0, 0);
  --vscode-bookmarks-lineBorder: rgba(0, 0, 0, 0);
  --vscode-bookmarks-overviewRuler: rgba(21, 126, 251, 0.53);
}
