.list__styled-list--tree {
  position: relative;
}

.list_branch-indent-box {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 28px;
  position: relative;
}

.list_branch-indent {
  border-left: 1px solid var(--vscode-tree-indentGuidesStroke);
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  opacity: 0.5;
  transition: border-color 0.1s linear;
  width: 10px;
}

.list_branch-icon {
  left: 20px;
  position: absolute;
  top: 0.3rem;
}

.list_branch-icon-empty {
  min-width: 16px;
  width: 16px;
}

.list__branch-list-item--sub {
  background: rgba(0, 0, 0, 0.04);
}
